body {
    background-color: #e0c6c6;
}

input {
    padding: 5px;
    margin: 5px;
}

button a {
    text-decoration: none;
    color: white;
}

button { 
    margin: 5px;
    color: white;
    background-color: rgb(50, 50, 129);
}

